{% extends "main.html" %}

{% block title %}Мезотерапия{% endblock %}

{% block content %}
<h1>Мезотерапия</h1>
<p>Мезотерапия — это косметическая процедура, при которой на кожу наносится множество крошечных проколов с помощью специального устройства с тонкими иглами. Эти микропроколы стимулируют кожу к активному обновлению и выработке коллагена. В результате, кожа становится более упругой, гладкой и свежей. Процедура помогает уменьшить морщины, мелкие рубцы, пигментные пятна и улучшить общий тонус и текстуру кожи. Микронидлинг подходит для всех типов кожи и практически не требует времени на восстановление.</p>

<!-- Видео -->
<div class="embed-responsive embed-responsive-16by9 mt-4">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/video_id" allowfullscreen></iframe>
</div>
{% endblock %}
